.specific-product {
  display: grid;
  grid-template-columns: 40% 25% 30%;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 20px;
}

.grid1 {
  align-self: auto;
  text-align: center;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  /* background-color: rgb(248, 239, 227); */
  padding: 20px;
  /* border-right: 1px solid gray; */
}

.grid2 {
  grid-column-start: 2;
  grid-row-start: 1;
  /* background-color:blueviolet; */
  padding: 10px;
  margin: 10px;
  margin-top: 30px;
  /* border-right: 1px solid gray; */
  align-items: center;
}

.grid3 {
  grid-column-start: 3;
  grid-row-start: 1;
  /* background-color: aqua; */
  hyphens: auto;
  padding: 10px;
  margin: 10px;
  margin-top: 30px;
  align-items: center;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

nav li {
  display: inline-block;
  text-align: center;
}

nav li:nth-of-type(2) {
  margin-left: -20px;
}

nav li:nth-of-type(3) {
  margin-left: 20px;
}

.nav-rignt {
  float: right;
  padding-top: 10px;
}

li a {
  display: block;
  width: auto;
  padding: 15px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  /* background-color: white; */
  color: red;
}

button a:hover {
  color: white;
}

li a.active {
  background-color: white;
  font-style: bold;
}

.price-item {
  margin: 20px;
}

.price-item-2 {
  margin-bottom: 10px;
}

.product-price {
  border: 1px solid silver;
  border-radius: 15px;
  padding: 30px;
  margin-top: 30px;
  /* width: 400px; */
  background: whitesmoke;
  box-shadow: 0px 0px 15px rgb(47, 255, 252);
  text-align: left;
}

#qty-products {
  width: 70%;
}

.product-price:hover {
  box-shadow: 0px 0px 15px rgb(210, 255, 47);
}

.product-details {
  border: 1px solid silver;
  border-radius: 15px;
  padding: 30px;
  margin-top: 30px;
  /* width: 400px; */
  background: whitesmoke;
  box-shadow: 0px 0px 15px rgb(47, 255, 252);
  text-align: left;
  font-size: 16px;
}

.product-details:hover {
  box-shadow: 0px 0px 15px rgb(210, 255, 47);
}

.grid1 img {
  /* padding: 20px; */
  border: 1px solid silver;
  border-radius: 15px;
  background: whitesmoke;
  /* box-shadow: 0px 0px 15px rgb(47, 255, 252); */
}

.product-description {
  border: 1px solid silver;
  border-radius: 15px;
  padding: 30px;
  margin-top: 30px;
  /* width: 400px; */
  background: whitesmoke;
  box-shadow: 0px 0px 15px rgb(47, 255, 252);
  text-align: left;
  font-size: 16px;
}

.product-description:hover {
  box-shadow: 0px 0px 15px rgb(210, 255, 47);
}

.td-book {
  padding-top: 10px;
}

.break {
  margin-bottom: 0px;
}
